.about-section {
}

.about-bg-wrapper {
  padding-top: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 42px;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  max-width: 333px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
    max-width: 827px;
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 293px;

  @include media(desktop) {
    max-width: 537px;
  }
}

.about-list-item {
  display: flex;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.about-item-img-wrapper {
  box-shadow:
    0 4px 6px -4px rgba(253, 152, 103, 0.1),
    0 10px 15px -3px rgba(253, 152, 103, 0.1);
  background: linear-gradient(
    135deg,
    rgba(253, 152, 103, 0.2) 0%,
    rgba(93, 34, 48, 0.2) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  min-width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    min-width: 56px;
    height: 56px;
  }
}

.about-icon {
  min-width: 28px;

  @include media(desktop) {
  }
}

.about-item-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(desktop) {
  }
}

.about-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.about-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.625;
  }
}

.about-img {
  @include media(desktop) {
    min-width: 616px;
  }
}
