.footer {
  background: #0a1520;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 50px;
  padding-bottom: 18px;

  @include media(desktop) {
    padding-top: 32px;
    padding-bottom: 16px;
  }
}

.footer-container {
  @include media(desktop) {
    padding: 0 80px;
  }
}

.footer-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;

  @include media(desktop) {
    flex-direction: row;
  }
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.footer-nav {
  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 28px;
  align-items: center;
  margin-bottom: 62px;

  @include media(desktop) {
    gap: 16px;
    margin-left: 328px;
    margin-bottom: 0;
  }
}

.footer-list-item {
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66667;
  color: rgba(232, 238, 242, 0.7);

  @include media(desktop) {
    font-size: 14px;
    line-height: 1.42857;
  }
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: rgba(232, 238, 242, 0.6);

  @include media(desktop) {
    text-align: right;
    margin-left: auto;
  }
}

.footer-bottom-text {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 2px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  text-align: center;
  color: rgba(232, 238, 242, 0.5);

  @include media(desktop) {
    padding-top: 32px;
  }
}
