.header {
  background: #0c1e29;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.header-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.png);
  }
}

.header-container {
  @include media(desktop) {
    padding: 0 112px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.header-logo-img {
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.nav-list-item {
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  transition: color 0.3s ease-in-out;

  &:hover,
  &.active {
    color: #fd9867;
  }
}

.header-cta-link {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
      0 -1px 8px -4px rgba(253, 152, 103, 0.1),
      0 0 20px -3px rgba(253, 152, 103, 0.3);
    background: linear-gradient(180deg, #fd9867 0%, #5d2230 100%);
    border-radius: 33554400px;
    padding: 8px 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    text-align: center;
    color: #fff;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}
