.supports-benefits-bg-wrapper {
  background: linear-gradient(180deg, #0a1820 0%, #0c1e29 100%);
}

.supports-section {
}

.supports-bg-wrapper {
  padding-top: 14px;
  padding-bottom: 35px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 26px;
    padding-bottom: 17px;
    max-width: 1440px;
  }
}

.supports-container {
  @include media(desktop) {
  }
}

.supports-title {
  @include media(desktop) {
  }
}

.supports-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
    margin-bottom: 57px;
  }
}

.supports-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

.supports-list-item {
  box-shadow:
    0 8px 10px -6px rgba(0, 0, 0, 0.1),
    0 20px 25px -5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 9px 15px;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 345px;

  @include media(desktop) {
    padding: 33px;
    max-width: 564px;
  }
}

.supports-item-img-wrapper {
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #fd9867 0%, rgba(93, 34, 48, 0.9) 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  min-width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.supports-icon {
  min-width: 28px;

  @include media(desktop) {
  }
}

.supports-item-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;

  @include media(desktop) {
    gap: 8px;
  }
}

.supports-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.86667;
  color: #f4f7fa;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.supports-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(232, 238, 242, 0.7);

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.625;
  }
}

.supports-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}
