<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">See Beyond the Surface</h2>
      <p class="about-text">
        Stereograms, often known as “Magic Eye” images, are these patterns that
        somehow manage to hide 3D stuff in what looks like wallpaper. By
        adjusting your focus — either relaxing your eyes or shifting your depth
        perception — hidden shapes begin to emerge.
      </p>
      <div class="about-content-wrapper">
        <ul class="about-list">
          <li class="about-list-item">
            <div class="about-item-img-wrapper">
              <svg class="about-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-eye"></use>
              </svg>
            </div>
            <div class="about-item-text-wrapper">
              <p class="about-item-title">Relax Your Eyes</p>
              <p class="about-item-text">
                Let your gaze soften. Don't focus on the surface pattern.
              </p>
            </div>
          </li>
          <li class="about-list-item">
            <div class="about-item-img-wrapper">
              <svg class="about-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-focus"></use>
              </svg>
            </div>
            <div class="about-item-text-wrapper">
              <p class="about-item-title">Look Through the Image</p>
              <p class="about-item-text">
                Imagine you're looking at something far behind the screen.
              </p>
            </div>
          </li>
          <li class="about-list-item">
            <div class="about-item-img-wrapper">
              <svg class="about-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <div class="about-item-text-wrapper">
              <p class="about-item-title">The Magic Appears</p>
              <p class="about-item-text">
                A 3D shape emerges from the flat pattern, floating in space.
              </p>
            </div>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="616"
            height="322"
          />
          <source
            srcset="./img/about/about-img-mob.png"
            width="339"
            height="177"
          />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="339"
            height="177"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
