<section class="section benefits-section" id="benefits">
  <div class="benefits-bg-wrapper">
    <div class="container benefits-container">
      <h2 class="section-title benefits-title">
        A Quiet Escape in Your Pocket
      </h2>
      <p class="benefits-text">
        Vision Quest Puzzle works offline, making it a perfect companion for:
      </p>
      <div class="benefits-content-wrapper">
        <ul class="benefits-list">
          <li class="benefits-list-item">
            <div class="benefits-item-img-wrapper">
              <svg class="benefits-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-no-connection"></use>
              </svg>
            </div>
            <p class="benefits-item-text">Quiet evenings</p>
          </li>
          <li class="benefits-list-item">
            <div class="benefits-item-img-wrapper">
              <svg class="benefits-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-smartphone"></use>
              </svg>
            </div>
            <p class="benefits-item-text">Travel breaks</p>
          </li>
          <li class="benefits-list-item">
            <div class="benefits-item-img-wrapper">
              <svg class="benefits-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-connection"></use>
              </svg>
            </div>
            <p class="benefits-item-text">Focus sessions</p>
          </li>
          <li class="benefits-list-item">
            <div class="benefits-item-img-wrapper">
              <svg class="benefits-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-chair"></use>
              </svg>
            </div>
            <p class="benefits-item-text">Relaxation time</p>
          </li>
        </ul>
        <p class="benefits-bottom-text">
          It’s a portable moment of calm — available whenever you need it.
        </p>
      </div>
    </div>
  </div>
</section>
