<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <h2 class="section-title contact-title">Enter the gateway.</h2>
    <div class="contact-links-wrapper">
      <div class="contact-link-wrapper">
        <span class="contact-icon-wrapper">
          <svg class="mail-icon" width="25" height="25">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
        </span>
        <div class="contact-link-text-wrapper">
          <p class="contact-link-title">Email</p>
          <a href="mailto:secrets@easystepvia.online" class="contact-link"
            >secrets@easystepvia.online</a
          >
        </div>
      </div>
      <div class="contact-link-wrapper">
        <span class="contact-icon-wrapper">
          <svg class="location-icon" width="27" height="27">
            <use href="./img/sprite.svg#icon-map-pin"></use>
          </svg>
        </span>
        <div class="contact-link-text-wrapper">
          <p class="contact-link-title">Address</p>
          <a href="" class="contact-link"
            >EasyStepVia LLC, Na Příkopě 17, Prague, Czech Republic</a
          >
        </div>
      </div>
    </div>
    <p class="contact-text">
      For corporate bookings and special events, write to us.<br />
      Dare to step in?
    </p>
  </div>
</section>
