<section class="section contact-section" id="home">
  <div class="contact-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <h2 class="section-title contact-title">
          Ready to Reveal the Hidden Dimensions?
        </h2>
        <div class="contact-text-wrapper">
          <p class="contact-text contact-top-text">Relax your gaze.</p>
          <p class="contact-text contact-top-text">Focus deeply.</p>
          <p class="contact-text contact-top-text">
            Discover what lies beneath the pattern.
          </p>
        </div>
        <a
          class="contact-cta-link"
          href="https://play.google.com/store/apps/details?id=com.levelxcode.visionquestpuzzle&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
          >Download on Google Play</a
        >
        <p class="contact-btn-text">You can grab it on Google Play.</p>
      </div>
    </div>
  </div>
</section>
