<section class="experience-section section" id="experience">
  <div class="experience-section-wrapper">
    <div class="container experience-container">
      <h2 class="section-title experience-title">
        Enchanting Scenes Hidden in Patterns
      </h2>
      <p class="experience-text">
        From abstract geometry to natural wonders—every illusion is a new
        discovery
      </p>
      <div class="experience-swiper-container">
        <ul class="swiper-wrapper experience-swiper-wrapper">
          <li class="swiper-slide experience-list-item">
            <picture>
              <source
                srcset="./img/about/about-img-desk.png"
                media="(min-width: 1440px)"
                width="408"
                height="192"
              />
              <source
                srcset="./img/about/about-img-mob.png"
                width="328"
                height="192"
              />
              <img
                class="about-img"
                src="./img/about/about-img-mob.png"
                alt="Screenshot of the game"
                width="328"
                height="192"
                loading="lazy"
              />
            </picture>
            <p class="experience-item-text">Animals emerging from texture</p>
          </li>
        </ul>
      </div>
      <div class="controls experience-controls">
        <button
          class="arrow-btn"
          id="experienceLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="44" height="44">
            <use href="./img/sprite.svg#icon-arrow-left-filled"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="experience-dot active"></div>
          <div class="experience-dot"></div>
          <div class="experience-dot"></div>
          <div class="experience-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="experienceRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="44" height="44">
            <use href="./img/sprite.svg#icon-arrow-right-filled"></use>
          </svg>
        </button>
      </div>
      <p class="experience-bottom-text">
        There's enough variety here that you won't get bored - each one feels
        like a little surprise when it clicks.<br />
        No two puzzles feel the same. Every discovery feels personal.
      </p>
    </div>
  </div>
</section>
