<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">
        Everything you need for corporate ESG.
      </h2>
      <p class="features-text">
        Comprehensive tools and features designed to make sustainability
        management effortless and effective for organizations of all sizes.
      </p>
      <ul class="features-list">
        <li class="features-list-item">
          <svg class="features-icon" width="30" height="30">
            <use
              href="./img/sprite.svg#icon-chart-no-axes-column-increasing"
            ></use>
          </svg>
          <p class="features-item-text">Real-time dashboards with eco-KPIs</p>
        </li>
        <li class="features-list-item">
          <svg class="features-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-file-text"></use>
          </svg>
          <p class="features-item-text">
            Reporting aligned with EU taxonomy and CSRD
          </p>
        </li>
        <li class="features-list-item">
          <svg class="features-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-gamepad-2"></use>
          </svg>
          <p class="features-item-text">Gamified challenges for employees</p>
        </li>
        <li class="features-list-item">
          <svg class="features-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-smartphone"></use>
          </svg>
          <p class="features-item-text">Mobile app for quick updates</p>
        </li>
      </ul>
    </div>
  </div>
</section>
