<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">Unite your company for a greener future.</h1>
          <p class="hero-text">
            EcoUnitix helps organizations track, manage, and report
            sustainability initiatives across teams.
          </p>
          <div class="hero-btn-wrapper">
            <a class="header-start-btn" href="./index.html#support"
              >Start Free Trial</a
            >
            <a class="header-watch-btn" href="./index.html#support"
              >Watch Demo</a
            >
          </div>
          <ul class="hero-list">
            <li class="hero-list-item">
              <div class="hero-item-icon-wrapper">
                <svg class="hero-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-trending-up-down"></use>
                </svg>
                <p class="hero-item-result">500+</p>
              </div>
              <p class="hero-item-text">Companies using EcoUnitix</p>
            </li>
            <li class="hero-list-item">
              <div class="hero-item-icon-wrapper">
                <svg class="hero-icon" width="19" height="19">
                  <use href="./img/sprite.svg#icon-zap"></use>
                </svg>
                <p class="hero-item-result">2M+</p>
              </div>
              <p class="hero-item-text">Tons CO₂ saved</p>
            </li>
            <li class="hero-list-item">
              <div class="hero-item-icon-wrapper">
                <svg class="hero-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-sparkles"></use>
                </svg>
                <p class="hero-item-result">95%</p>
              </div>
              <p class="hero-item-text">Employee engagement rate</p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-bg-desk.png"
            media="(min-width: 1440px)"
            width="559"
            height="430"
          />
          <source
            srcset="./img/hero/hero-bg-mob.png"
            width="335"
            height="258"
          />
          <img
            class="hero-img"
            src="./img/hero/hero-bg-mob.png"
            alt="Chart"
            width="335"
            height="258"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
