<div class="context-menu">
  <div class="container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="48" height="48">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#platform">Platform</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features">Features</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#dashboard"
            >KPI Dashboard</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#studies"
            >Case Studies</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#pricing">Pricing</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#resources"
            >Resources</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#support">Support</a>
        </li>
      </ul>
      <a href="./index.html#support" class="context-cta-link"
        >Start Free Trial</a
      >
    </nav>
  </div>
</div>
