<section class="section platform-section" id="platform">
  <div class="platform-bg-wrapper">
    <div class="container platform-container">
      <h2 class="section-title platform-title">
        A single hub for sustainability.
      </h2>
      <ul class="platform-list">
        <li class="platform-list-item">
          <div class="platform-item-img-wrapper">
            <picture>
              <source
                srcset="./img/platform/earth-desk.png"
                media="(min-width: 1440px)"
                width="79"
                height="63"
              />
              <source
                srcset="./img/platform/earth-mob.png"
                width="68"
                height="55"
              />
              <img
                class="platform-img"
                src="./img/platform/earth-mob.png"
                alt="Earth"
                width="68"
                height="55"
              />
            </picture>
          </div>
          <p class="platform-item-text">
            Centralized eco-initiative management
          </p>
        </li>
        <li class="platform-list-item">
          <div class="platform-item-img-wrapper">
            <picture>
              <source
                srcset="./img/platform/energy-desk.png"
                media="(min-width: 1440px)"
                width="79"
                height="63"
              />
              <source
                srcset="./img/platform/energy-mob.png"
                width="68"
                height="55"
              />
              <img
                class="platform-img"
                src="./img/platform/energy-mob.png"
                alt="Energy"
                width="68"
                height="55"
              />
            </picture>
          </div>
          <p class="platform-item-text">CO₂ and energy consumption tracking</p>
        </li>
        <li class="platform-list-item">
          <div class="platform-item-img-wrapper">
            <picture>
              <source
                srcset="./img/platform/recycle-desk.png"
                media="(min-width: 1440px)"
                width="63"
                height="63"
              />
              <source
                srcset="./img/platform/recycle-mob.png"
                width="55"
                height="55"
              />
              <img
                class="platform-img"
                src="./img/platform/recycle-mob.png"
                alt="Recycle"
                width="55"
                height="55"
              />
            </picture>
          </div>
          <p class="platform-item-text">Waste reduction metrics</p>
        </li>
        <li class="platform-list-item">
          <div class="platform-item-img-wrapper">
            <picture>
              <source
                srcset="./img/platform/people-desk.png"
                media="(min-width: 1440px)"
                width="63"
                height="63"
              />
              <source
                srcset="./img/platform/people-mob.png"
                width="55"
                height="55"
              />
              <img
                class="platform-img"
                src="./img/platform/people-mob.png"
                alt="People"
                width="55"
                height="55"
              />
            </picture>
          </div>
          <p class="platform-item-text">Employee engagement tools</p>
        </li>
      </ul>
    </div>
  </div>
</section>
