<section class="section studies-section" id="studies">
  <div class="studies-bg-wrapper">
    <div class="container studies-container">
      <h2 class="section-title studies-title">
        Success stories with EcoUnitix.
      </h2>
      <p class="studies-text">
        Discover how leading organizations across Europe have transformed their
        sustainability practices with our platform.
      </p>
      <ul class="studies-list">
        <li class="studies-list-item">
          <div class="studies-item-title-wrapper">
            <div class="studies-item-icon-wrapper">
              <svg class="studies-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-building-2"></use>
              </svg>
            </div>
            <h3 class="studies-item-title">Retail Chain</h3>
          </div>
          <p class="studies-item-result">Reduced energy use by 15% in 1 year</p>
          <p class="studies-item-text">
            Implemented comprehensive energy monitoring across 150+ stores,
            leading to significant cost savings and reduced carbon footprint.
          </p>
        </li>
        <li class="studies-list-item">
          <div class="studies-item-title-wrapper">
            <div class="studies-item-icon-wrapper">
              <svg class="studies-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-monitor"></use>
              </svg>
            </div>
            <h3 class="studies-item-title">IT Company</h3>
          </div>
          <p class="studies-item-result">
            Engaged 80% of staff in green challenges
          </p>
          <p class="studies-item-text">
            Gamified sustainability initiatives that transformed company culture
            and achieved remarkable employee participation rates.
          </p>
        </li>
        <li class="studies-list-item">
          <div class="studies-item-title-wrapper">
            <div class="studies-item-icon-wrapper">
              <svg class="studies-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-banknote"></use>
              </svg>
            </div>
            <h3 class="studies-item-title">Banking Group</h3>
          </div>
          <p class="studies-item-result">
            Automated sustainability reporting for regulators
          </p>
          <p class="studies-item-text">
            Implemented comprehensive energy monitoring across 150+ stores,
            leading to significant cost savings and reduced carbon footprint.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
