<section class="section support-section" id="support">
  <div class="support-bg-wrapper">
    <div class="container support-container">
      <h2 class="section-title support-title">We’re here to help.</h2>
      <p class="support-text">
        Get the support you need to maximize your sustainability impact. Our
        team of experts is ready to assist you every step of the way.
      </p>
      <div class="support-content-wrapper">
        <div class="support-faq-wrapper">
          <div class="support-list-wrapper">
            <p class="support-list-title">Quick FAQ</p>
            <ul class="support-list">
              <li class="support-list-item">
                <button class="support-top-text-btn">
                  <div class="support-text-wrapper">
                    <span class="support-btn-text"
                      >How do I start a new initiative?</span
                    >
                    <p class="support-bottom-text">
                      Use the “+ Initiative” button in dashboard.
                    </p>
                  </div>
                  <span class="support-toggle-symbol"
                    ><svg class="support-icon" width="11" height="22">
                      <use
                        href="./img/sprite.svg#icon-question-mark"
                      ></use></svg
                  ></span>
                </button>
              </li>
              <li class="support-list-item">
                <button class="support-top-text-btn">
                  <div class="support-text-wrapper">
                    <span class="support-btn-text"
                      >Can we customize KPI metrics?</span
                    >
                    <p class="support-bottom-text">
                      Yes, metrics are fully configurable.
                    </p>
                  </div>
                  <span class="support-toggle-symbol"
                    ><svg class="support-icon" width="11" height="22">
                      <use
                        href="./img/sprite.svg#icon-question-mark"
                      ></use></svg
                  ></span>
                </button>
              </li>
              <li class="support-list-item">
                <button class="support-top-text-btn">
                  <div class="support-text-wrapper">
                    <span class="support-btn-text"
                      >Is the platform EU-compliant?</span
                    >
                    <p class="support-bottom-text">
                      100% aligned with CSRD and EU taxonomy.
                    </p>
                  </div>
                  <span class="support-toggle-symbol"
                    ><svg class="support-icon" width="11" height="22">
                      <use
                        href="./img/sprite.svg#icon-question-mark"
                      ></use></svg
                  ></span>
                </button>
              </li>
            </ul>
          </div>
          <div class="support-contact-link-wrapper">
            <svg class="support-mail-icon" width="26" height="26">
              <use href="./img/sprite.svg#icon-mail"></use>
            </svg>
            <p class="support-email-text">Direct email:</p>
            <a href="mailto:support@ecounitix.online" class="support-email-link"
              >support@ecounitix.online</a
            >
          </div>
        </div>
        <div class="support-form-wrapper">
          <p class="support-form-title">Submit a Ticket</p>
          <form class="support-form" id="contact-form">
            <div class="support-form-name-wrapper">
              <label class="support-form-label support-form-text-label"
                ><input
                  class="support-form-input"
                  type="text"
                  placeholder="Name"
                  name="name"
                  id="name"
                  required
              /></label>
              <label class="support-form-label support-form-text-label"
                ><input
                  class="support-form-input"
                  type="text"
                  placeholder="Company"
                  name="company"
                  id="company"
                  required
              /></label>
            </div>
            <label class="support-form-label" for="email"
              ><input
                class="support-form-input"
                type="email"
                placeholder="Email"
                name="email"
                id="email"
                required
              />
            </label>
            <label class="support-form-label" for="message">
              <textarea
                class="support-textarea"
                name="message"
                id="message"
                rows="3"
                placeholder="Issue"
                maxlength="300"
                required
              ></textarea>
            </label>
            <button type="submit" class="support-form-submit-btn">
              Submit Request
            </button>
          </form>
          <div id="success-popup" class="modal-form hidden">
            ✅ Your message has been sent!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
