<section class="section supports-section" id="supports">
  <div class="supports-bg-wrapper">
    <div class="container supports-container">
      <h2 class="section-title supports-title">
        Strengthen Focus and Perception
      </h2>
      <p class="supports-text">Vision Quest Puzzle supports:</p>
      <div class="supports-content-wrapper">
        <ul class="supports-list">
          <li class="supports-list-item">
            <div class="supports-item-img-wrapper">
              <svg class="supports-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-eye-white"></use>
              </svg>
            </div>
            <div class="supports-item-text-wrapper">
              <p class="supports-item-title">Depth Perception Awareness</p>
              <p class="supports-item-text">
                Strengthen your ability to perceive spatial relationships and 3D
                depth
              </p>
            </div>
          </li>
          <li class="supports-list-item">
            <div class="supports-item-img-wrapper">
              <svg class="supports-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-square"></use>
              </svg>
            </div>
            <div class="supports-item-text-wrapper">
              <p class="supports-item-title">Pattern Recognition</p>
              <p class="supports-item-text">
                Train your brain to identify subtle visual patterns and
                connections
              </p>
            </div>
          </li>
          <li class="supports-list-item">
            <div class="supports-item-img-wrapper">
              <svg class="supports-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
            </div>
            <div class="supports-item-text-wrapper">
              <p class="supports-item-title">Visual Concentration</p>
              <p class="supports-item-text">
                Develop sustained focus and the ability to maintain relaxed
                attention
              </p>
            </div>
          </li>
          <li class="supports-list-item">
            <div class="supports-item-img-wrapper">
              <svg class="supports-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-heart"></use>
              </svg>
            </div>
            <div class="supports-item-text-wrapper">
              <p class="supports-item-title">Patience and Mental Calmness</p>
              <p class="supports-item-text">
                Practice mindfulness through the gentle art of visual discovery
              </p>
            </div>
          </li>
        </ul>
        <div class="supports-bottom-text">
          Forces you to actually pay attention for once.<br />
          That 'aha!' moment when the image pops out? Players say it never gets
          old.
        </div>
      </div>
    </div>
  </div>
</section>
